<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charest=UTF-8" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="element :${post}">
        <h1 th:text="${element.id}"></h1>
        <p th:text="${element.getUsername}"></p>
        <p th:text="${element.password}"></p>
            <img th:src="${element.photoAlbum}"
                 alt="img1">


</div>
</div>
<form method="post">
    <input type="text" name="photo"><br>
    <button name="add" class="btn btn-warning" type="submit">Add photo</button>
</form>
</main>
</body>
</html>